.tabs {
    margin-top: -20px;
}

.tab_menu {
    border-bottom: 3px solid #bdd1e9;
    background-color: rgb(243,243,243);
    border-radius: 45px;
    font-size: 20px;
}

.tab_menu li {
    list-style: none;
    float: left;
    text-align: center;
    padding: 7px;
    cursor: pointer;
    width: 366px!important;
    border-radius: 45px;
    color: black;
}

.tab_menu li.current {
    background-color: #eb6447;
    color: white;
    font-weight: bold;
}

.tab_box {
}

.tab_box .hide {
    display: none;
}