.cart-ico{
    background: url(../../common/img/bg_cart.png) no-repeat 50% 50% #eb6447;
    border-radius: 19px;
    -moz-border-radius: 19px;
    -khtml-border-radius: 19px;
    display: block;
    float: left;
    height: 38px;
    margin-top: -8px;
    margin-right: 10px;
    width: 38px;
}

.btn{
    background: #eb6445;
    border-radius: 19px;
    -moz-border-radius: 19px;
    -khtml-border-radius: 19px;
    color: #fff;
    display: block;
    font: bold 13px/40px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, Arial, Verdana, sans-serif;
    height: 38px;
    padding: 0 0 0 20px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    width: 128px;
}
.btn:hover{
    background: #fa7a5f;
    background: -moz-linear-gradient(top,  #fa7a5f 0%, #ce4a2e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fa7a5f), color-stop(100%,#ce4a2e));
    background: -webkit-linear-gradient(top,  #fa7a5f 0%,#ce4a2e 100%);
    background: -o-linear-gradient(top,  #fa7a5f 0%,#ce4a2e 100%);
    background: -ms-linear-gradient(top,  #fa7a5f 0%,#ce4a2e 100%);
    background: linear-gradient(to bottom,  #fa7a5f 0%,#ce4a2e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa7a5f', endColorstr='#ce4a2e',GradientType=0 );
    box-shadow: 0px 0px 4px #fa7a5f;
    -moz-box-shadow: 0px 0px 4px #fa7a5f;
    -webkit-box-shadow: 0px 0px 4px #fa7a5f;
}
.circle-info{
    float: left;text-align: center;
    width:64px;
    height: 90px;
}
.circle-red{
    background: #eb6447;
}
.red{
    color: #eb6447;
}
.circle-gray{
    background: gray;
}
.circle-info div{
    font-size: 14px;
    float: left;
    font-weight: bolder;
    text-align: center;
    display: inline-block;
    line-height:60px;
    margin-left: 3px;
    color:#ffffff;
    width: 60px;
    height: 60px;
    border-radius:30px;
}
.direction-left{
    width: 70px;height:20px;margin-top: 20px;margin-left: 20px;margin-right: 20px; display: inline-block;float: left;border: 1px solid grey; border-top-right-radius: 10px;border-bottom-right-radius: 10px;text-align: center;line-height: 20px;font-size: 14px;
    font-weight: normal;
    color: grey;
}